<a href="https://colab.research.google.com/github/clayozuna/tamu_datathon/blob/master/Main_file_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 2: Data Wrangling

![alt text](https://revsearch-assets.s3.amazonaws.com/images/ds_process1.png)

> Credits: Bin Yu, [Veridical Data Science](https://arxiv.org/pdf/1901.08152.pdf)

[This](https://www.kaggle.com/learn/pandas) warm up lesson on kaggle is a wonderful resource for you to get started with pandas in a few hours.

## Learning Objectives:
- where to find data
- intro to pandas
- "imputation": handle missing values
- "feature engineering"
  - one hot encoding
- exploratory analysis/statistics
  - correlation
- exerise: find, import and describe your data



### Definitions
  * **Target Column:** This is the variable that you're trying to predict given other values. This is also called the _response_ / _predicted_ / _dependent_ / _label_ variable.
  * **Feature Columns:** These are the variables that we use to calculate/predict the value of the target. These are also called _explanatory_ / _predictor_ / _feature_ / _signal_ variables. 
  * **Observations:** We have one observation per row. A observation is one instance of our data. In the below, a observation is a basketball player.
  * **Tablular Data:** Data that has been organized into a matrix or table, i.e. into columns and rows. Think Excel. We will be dealing with tabular data. Note, we often interchange the words columns<>variables and rows<>observations.(Non-structured data, may be speech recordings or pictures.)

<img src="https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png" alt="alt" width="500"/>

## Where to Find Data
- Built in (toy) datasets
   - [seaborn](https://seaborn.pydata.org/generated/seaborn.load_dataset.html)
   - [sklearn](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.datasets) 
   - [pydatasets](https://github.com/iamaziz/PyDataset)
- Using Links
   - [UCI](https://archive.ics.uci.edu/ml/index.php)
- Repositories
   - [Google dataset search](https://toolbox.google.com/datasetsearch)
   - [Kaggle datasets](https://www.kaggle.com/datasets)
- Reading csv's from your computer
   - Colab code snippets
- Reading csv's from your google drive
- If you have a dataset locally, can upload it to [here](https://filebin.net/) for a url link

In [0]:
import pandas as pd

Load datasets from google drive (not recomended for shareablility)
```
from google.colab import drive
drive.mount('/gdrive', force_remount=True)
path = '/gdrive/Shared drives/TD 2019/Applicant Data'
df = pd.read_csv(path + '/final_participant_data.csv')
```

Upload from local file system (not recomended for shareablility)
```
from google.colab import files
uploaded = files.upload()
df = pd.read_csv(list(uploaded.keys())[0])
```

In [0]:
# loading toy datasets from seaborn
import seaborn as sns
# some datasets we'll be using: titanic, iris, mpg
sns.get_dataset_names() # to see all datasets
df = sns.load_dataset("titanic")
df.head()

/usr/local/lib/python3.6/dist-packages/seaborn/utils.py:376: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 376 of the file /usr/local/lib/python3.6/dist-packages/seaborn/utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

## Pandas

Pandas is one of the top (if not the top) data manipulation and analysis libraries for Python right now. It loads data into these easy to access and manipulate structures called _DataFrames_. Data in these is 'arranged' similar to what you might have seen in a spreasheet, with rows specifying data points and columns specifying certain categories/features/variables.

You should know the basic Pandas structures (DataFrame, Series) and commands (indexing, groupby, merge, summarize, sort, etc).

*Note: Pandas is generally "non-mutative". If you perform an operation on a dataframe, you generally have to assign the value of that operation to a new variable to save it.

For the SQL lovers out there: [sql to pandas](https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e)

In [0]:
import pandas as pd

In [0]:
# Series
s = pd.Series([1, 3, 4, 2], index=['a', 'b', 'c', 'd'])
s

a    1
b    3
c    4
d    2
dtype: int64

In [0]:
# Aggregations
s.sum()

10

In [0]:
# making a dataframe
students = pd.DataFrame({
    'name': ['Charis',  'Bruno',  'Mara',  'Brett',  'Keeva',  'Karson',  'Reyansh',  'Olivier',  'Mara',  'Lowri'],
    'haircolor': pd.Categorical(['red', 'red', 'brown', 'blonde', 'brown', 'brown', 'blonde', 'brown', 'brown', 'blonde']),
    'weight': [176, 111, 181, 170, 198, 144, 114, 203, 187, 197],
    'birthdate': pd.to_datetime(['28/4/1955', '26/10/1956', '9/5/1984', '1/7/1957', '23/8/1961', '11/6/1969', '27/11/1974', '4/2/1992', '14/1/1983', '4/2/1992'])
    })

students.head()

     name haircolor  weight  birthdate
0  Charis       red     176 1955-04-28
1   Bruno       red     111 1956-10-26
2    Mara     brown     181 1984-09-05
3   Brett    blonde     170 1957-01-07
4   Keeva     brown     198 1961-08-23

In [0]:
# getting a column
students['name']
students.name

0     Charis
1      Bruno
2       Mara
3      Brett
4      Keeva
5     Karson
6    Reyansh
7    Olivier
8       Mara
9      Lowri
Name: name, dtype: object

In [0]:
# column data types
students.dtypes

name                 object
haircolor          category
weight                int64
birthdate    datetime64[ns]
dtype: object

In [0]:
# change datatype
students.weight = students.weight.astype('float64')
students.dtypes

name                 object
haircolor          category
weight              float64
birthdate    datetime64[ns]
dtype: object

In [0]:
# descriptive statistics of numerical columns
students.describe()

           weight
count   10.000000
mean   168.100000
std     33.837684
min    111.000000
25%    150.500000
50%    178.500000
75%    194.500000
max    203.000000

In [0]:
# groupby and summarize
students.groupby('haircolor').haircolor.count()

haircolor
blonde    3
brown     5
red       2
Name: haircolor, dtype: int64

In [0]:
# multi-index
students.groupby(['haircolor', 'name']).haircolor.count()

haircolor  name
blonde     Brett      1
           Lowri      1
           Reyansh    1
brown      Karson     1
           Keeva      1
           Mara       2
           Olivier    1
red        Bruno      1
           Charis     1
Name: haircolor, dtype: int64

In [0]:
# string operations
students.name.str.lower()

0     charis
1      bruno
2       mara
3      brett
4      keeva
5     karson
6    reyansh
7    olivier
8       mara
9      lowri
Name: name, dtype: object

In [0]:
students.name.str.replace('e', '-')

0     Charis
1      Bruno
2       Mara
3      Br-tt
4      K--va
5     Karson
6    R-yansh
7    Olivi-r
8       Mara
9      Lowri
Name: name, dtype: object

In [0]:
# np.where
import numpy as np
np.where(students.name.str.startswith('B'), 'b-name', 'other')

array(['other', 'b-name', 'other', 'b-name', 'other', 'other', 'other',
       'other', 'other', 'other'], dtype='<U6')

In [0]:
# df.apply
students.apply(lambda row: row['name']  + ' - ' + row['haircolor'], axis=1)

0        Charis - red
1         Bruno - red
2        Mara - brown
3      Brett - blonde
4       Keeva - brown
5      Karson - brown
6    Reyansh - blonde
7     Olivier - brown
8        Mara - brown
9      Lowri - blonde
dtype: object

In [0]:
# another dataframe
rgb_colors = pd.DataFrame({
    'color': ['brown', 'blonde', 'red', 'green'],
    'r': [145, 253, 238, 102],
    'g': [33, 145, 44, 45],
    'b': [33, 190, 44, 73]
  })

In [0]:
# merging
merged = pd.merge(students, rgb_colors, left_on='haircolor', right_on='color')
merged

In [0]:
# filtering
students[students.haircolor == 'blonde']

In [0]:
# multi filtering
students[(students.haircolor == 'blonde') & (students.weight > 150)]

In [0]:
# indexes
reindexed = students.set_index('name')
reindexed

In [0]:
# selecting row by the dataframe index
reindexed.loc['Charis']
reindexed.loc[['Charis', 'Reyansh']]

In [0]:
# selecting by row number(s)
reindexed.iloc[0]
reindexed.iloc[[0, 3, 4]]
reindexed.iloc[2: 4]

In [0]:
# sorting
reindexed.sort_values(by='birthdate', ascending=False)

### Imputation: Handle Missing Values

In [0]:
import numpy as np
reindexed.loc['Charis', 'haircolor'] = np.NaN

In [0]:
# notice NaN
reindexed

In [0]:
# count NaNs in columns
reindexed.isna().mean()

In [0]:
# drop any rows containing a NaN (axis=1 for column)
reindexed.dropna(axis=0)

In [0]:
# case study
import seaborn as sns
import numpy as np
df = sns.load_dataset('titanic')
# which column may want to drop?
df.isna().mean()

In [0]:
# check for bias
df['age_isna'] = df.age.isna()
print(np.abs(df.corr()['age_isna']))

In [0]:
# impute
#   - median: if data is numerical
#   - mode: if data is catagorical
print(reindexed.haircolor.mode()[0])
reindexed.fillna('brown')

In [0]:
# add column: col1_na

### Feature Engineering

- Get Dummys
- Label Encoding
- Datetime Conversions
- [More](https://elitedatascience.com/feature-engineering)

In [0]:
# for encoding your categorical variables
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(["paris", "paris", "tokyo", "amsterdam"])

print(list(le.classes_))
print(le.transform(["tokyo", "tokyo", "paris"]))
print(list(le.inverse_transform([2, 2, 1])))

# or in one line:
le = LabelEncoder()
print(le.fit_transform(["tokyo", "tokyo", "paris"]))

In [0]:
# Datetime Conversions
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

### Date features:
df['Date'] = pd.to_datetime(df['datetime'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['DayOfWeek'] = df['Date'].dt.dayofweek
df['DayOfYear'] = df['Date'].dt.dayofyear
df['YearsOld'] = df['Year'] - df['YearBuilt']


### Holidays:
def holidays():
    cal = calendar()
    dr = pd.date_range(start='2000-07-01', end='2019-07-31')
    holidays = cal.holidays(start=dr.min(), end=dr.max())
    return holidays

df['Holiday'] = df['Date'].isin(holidays())

### Correlation

Pearson’s Correlation
The most common measure of correlation is Pearson’s correlation (often denoted $r$).

- A correlation of 1 indicates a perfect positive linear relationship.
- A correlation of -1 indicates a perfect negative linear relationship.
- A correlation of 0 indicates that there is no linear relationship between the different variables.
- Values between -1 and 1 denote the strength of the correlation.

Looking at how your data is correlated with what your trying to predict is an important step. It helps you choose predictors to use and what kind of a model to consider.

In [0]:
# if both dataframes have the same index, can use join, slightly slicker than merge... same thing
heights = pd.Series({'Brett': 75, 'Bruno': 67, 'Charis': 79, 'Karson': 68, 'Keeva': 75, 'Lowri': 73, 'Mara': 72, 'Olivier': 76, 'Reyansh': 58}, name='height')
merged2 = reindexed.join(heights)
merged2.head()

In [0]:
# how to get correlation
merged2.corr()

## Challenge:

![alt text](http://exceltutorialworld.com/wp-content/uploads/2017/10/Capture-30.png)
- Build a dataframe with the tabular data pictured
- Sort the salesmen in order of most revenue
- What was the highest revenue made in a region by any one salesman?
- Merge the dataframe shown below with your dataframe so that the age of the salesmen shows up in your dataframe as a column
- Impute Joe's missing age
- What's the average age of the salesmen in the North?


```
pd.DataFrame({
  "name": ['Rob', 'Joe', 'Rikki', 'Chris'], 
  "age": [56, np.NaN, 23, 35],
})
```

In [0]:
#@title Challenge Setup

import binascii
#binascii.b2a_hex(b"input")
def check(answer, truth, label=''):
  decode = lambda s: binascii.unhexlify(s.encode()).decode()
  if answer == '':
    print(f'Please answer the question{" for " if label else ""}{label}. 🤓')
  elif answer == decode(truth):
    print(f'{label}{" - " if label else ""}Correct! 🤩')
  else:
    print(f'{label}{" - " if label else ""}Incorrect 😞')

print("Setup Complete! 🎉")

Setup Complete! 🎉

In [0]:
#@title Answers

#@markdown Who made the most revenue overall?
most_rev_overall = "" #@param {type:"string"}

#@markdown What was the highest revenue made in a region by any one salesman?
most_rev_in_region = "" #@param {type:"string"}

#@markdown What is joes missing age? 
joes_missing_age = "" #@param {type:"string"}

#@markdown What is the average age in the north?
north_avg_age = "" #@param {type:"string"}

check(most_rev_overall, '52696b6b69', 'most_rev_overall')
check(most_rev_in_region, '39313030', 'most_rev_in_region')
check(joes_missing_age, '3239', 'joes_missing_age')
check(north_avg_age, '3233', 'north_avg_age')

Please answer the question for most_rev_overall. 🤓
Please answer the question for most_rev_in_region. 🤓
Please answer the question for joes_missing_age. 🤓
Please answer the question for north_avg_age. 🤓

# Capstone Work

- find dataset(s)
  - titanic: use seaborn
  - housing: use sklearn (see below)
- read csv
- define your target columns and features columns
- adjust to the proper datatypes if needed, then report the data types
- check and impute the missing values
- calculate correlations and interpret

In [0]:
from sklearn.datasets import load_boston
import pandas as pd
obj = load_boston()
print(obj['DESCR'])
housing = pd.DataFrame(obj['data'], columns=obj['feature_names'])
housing.head()